<div class="md-welcome">
    <div class="md-welcome-msg">
        <div class="container container-md">
            <h1 class="animated fadeInDown anim-delay-10">Treetech</h1>
            <h2 class="animated fadeInLeft anim-delay-15">Portal de serviços</h2>
        </div>
    </div>
</div>
<div class="container container-lg">
    <div class="row">
        <div class="col-md-6">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                  <span>AAM</span>
                </h2>
            </md-toolbar>
            <md-content flex>
                <md-list>
                    <md-list-item md-ink-ripple="md-ink-ripple" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>Desenvolvimento</h3>
                            <a href="http://svrdevtreetech:81">svrdevtreetech:81</a>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item md-ink-ripple="md-ink-ripple" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>Homologação</h3>
                            <a href="http://hom.aam.treetech.com.br">hom.aam.treetech.com.br</a>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item md-ink-ripple="md-ink-ripple" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>Produção</h3>
                            <a href="http://db1.aam.treetech.com.br">db1.aam.treetech.com.br</a>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div layout="column">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                  <span>Implantação</span>
                </h2>
            </md-toolbar>
            <md-content flex>
                <md-list>
                    <md-list-item md-ink-ripple="md-ink-ripple" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>Desenvolvimento</h3>
                            <a href="http://svrdevtreetech:82">svrdevtreetech:82</a>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item md-ink-ripple="md-ink-ripple" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>Homologação</h3>
                            <a href="http://hom.imp.treetech.com.br">hom.imp.treetech.com.br</a>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item md-ink-ripple="md-ink-ripple" class="md-3-line">
                        <div class="md-list-item-text">
                            <h3>Produção</h3>
                            <a href="http://db1.imp.treetech.com.br">db1.imp.treetech.com.br</a>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
