<h3>Builds
    <ul class="breadcrumb">
      <li><a ui-sref="app.home">Home</a>
      </li>
      <li ng-repeat="state in $state.$current.path" ng-switch="$last" ng-if="!state.abstract" ng-class="{active: $last}"><a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.title}}</a>
         <span ng-switch-when="true">{{state.title}}</span>
      </li>
    </ul>
</h3>
<section data-ng-controller="BuildsController" data-ng-init="initialize()">
    <div class="container container-lg">
        <div class="row">
            <div class="col-md-4" ng-repeat="definition in buildDefinitions">
                <md-card class="animated fadeInDown anim-delay-{{ $index * 5 }}">
                    <md-toolbar class="md-theme-light" g-class="{ 'md-primary': definition.status == 'succeeded', 'md-warm': definition.status == 'failed' }">
                        <h2 class="md-toolbar-tools">
                            <a href="{{ definition.url }}">{{ definition.name }}</a>
                        </h2>
                    </md-toolbar>
                    <md-content flex>
                        <md-list>
                            <md-list-item md-ink-ripple="md-ink-ripple" class="md-4-line">
                                <div class="md-list-item-text">
                                    <span>Status:&nbsp;<i class="fa" ng-class="{ 'fa-check': definition.status == 'succeeded', 'fa-times': definition.status == 'failed' }"></i></span>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-card>
            </div>
        </div>
    </div>
</section>
